.style {
}
.elementor {
    margin-left: var(--clb-grid-gutter-negative);
    margin-right: var(--clb-grid-gutter-negative);
}
body * {
    overflow-wrap: break-word;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    --wpdm-img-opacity: 1;
    --wpdm-vid-opacity: 1;
}
.elementor-kit-10 {
    --e-global-color-primary: #38BFC3;
    --e-global-color-secondary: #663367;
    --e-global-color-text: #59595B;
    --e-global-color-accent: #002A48;
    --e-global-color-08c2717: #FFFFFF;
    --e-global-color-92ac461: #F4F7FA;
    --e-global-color-19946e9: #E0D6E1;
    --e-global-color-b653d0e: #0F5395;
    --e-global-color-0ae831f: #D7F2F3;
    --e-global-color-84ea0bb: #C6C628;
    --e-global-color-fc69235: #442244;
    --e-global-typography-primary-font-family: "Helvetica";
    --e-global-typography-secondary-font-family: "Century Gothic";
    --e-global-typography-text-font-family: "Century Gothic";
    --e-global-typography-accent-font-family: "Century Gothic";
}
body {
    color: var(--clb-body-color);
    font-family: var(--clb-body-font-family);
    font-size: var(--clb-body-font-size);
    letter-spacing: var(--clb-body-letter-spacing);
    line-height: var(--clb-body-line-height);
    font-weight: var(--clb-body-font-weight);
    font-style: var(--clb-body-style);
    text-transform: var(--clb-body-text-transform);
    text-decoration: var(--clb-body-text-decoration);
    background-color: var(--clb-color-white);
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --readabler-overlay: rgba(2, 83, 238, 1);
    --readabler-bg: rgba(255, 255, 255, 1);
    --readabler-bg-dark: rgba(22, 25, 27, 1);
    --readabler-text: rgba(51, 51, 51, 1);
    --readabler-text-dark: rgba(222, 239, 253, 1);
    --readabler-color: rgba(15, 83, 149, 1);
    --readabler-color-dark: rgba(15, 83, 149, 1);
    --readabler-color-transparent: rgba(15, 83, 149, .2);
    --readabler-color-transparent-dark: rgba(15, 83, 149, .2);
    --readabler-color-transparent-15: rgba(15, 83, 149, .15);
    --readabler-color-transparent-15-dark: rgba(15, 83, 149, .15);
    --readabler-color-transparent-25: rgba(15, 83, 149, .25);
    --readabler-color-transparent-25-dark: rgba(15, 83, 149, .25);
    --readabler-color-transparent-50: rgba(15, 83, 149, .5);
    --readabler-color-transparent-50-dark: rgba(15, 83, 149, .5);
    --readabler-border-radius: 10px;
    --readabler-animate: 600ms;
    --readabler-text-magnifier-bg-color: rgba(56, 191, 195, 1);
    --readabler-text-magnifier-color: rgba(255, 255, 255, 1);
    --readabler-text-magnifier-font-size: 34px;
    --readabler-highlight-titles-style: solid;
    --readabler-highlight-titles-color: rgba(56, 191, 195, 1);
    --readabler-highlight-titles-width: 2px;
    --readabler-highlight-titles-offset: 2px;
    --readabler-highlight-links-style: solid;
    --readabler-highlight-links-color: rgba(56, 191, 195, 1);
    --readabler-highlight-links-width: 2px;
    --readabler-highlight-links-offset: 2px;
    --readabler-reading-guide-width: 400px;
    --readabler-reading-guide-height: 10px;
    --readabler-reading-guide-bg-color: rgba(56, 191, 195, 1);
    --readabler-reading-guide-border-color: rgba(56, 191, 195, 1);
    --readabler-reading-guide-border-width: 2px;
    --readabler-reading-guide-border-radius: 10px;
    --readabler-reading-guide-arrow: 8;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --page-title-display: block;
}
:root {
    --direction-multiplier: 1;
}
:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
}
:root {
    --clb-color-primary: #38bfc3;
    --clb-link-hover-color: #663367;
    --clb-border-radius: 5px;
    --clb-grid-border-radius: 5px;
    --clb-button-color: #c6c628;
    --clb-button-hover-color: #0f5395;
    --clb-button-border-radius: 5px;
    --clb-text-field-border-radius: 0px;
    --clb-dm-fill-color: #000000;
    --clb-dm-color-white: #ffffff;
    --clb-body-font-family: 'Century Gothic', sans-serif;
    --clb-body-light-mode-font-family: 'Century Gothic', sans-serif;
    --clb-titles-font-weight: 700;
    --clb-titles-color: #663367;
    --clb-subtitles-font-size: 18px;
    --clb-subtitles-font-weight: 700;
    --clb-subtitles-text-transform: capitalize;
    --clb-subtitles-color: #38bfc3;
}
:root {
    --wp-dark-mode-bg--e-global-color-08c2717: #002A48 !important;
}
@media screen and (max-width: 1180px) {
    :root {
        --clb-grid-gutter-3x: var(--clb-grid-gutter-2x);
        --clb-grid-gutter-4x: var(--clb-grid-gutter-3x);
        --clb-grid-gutter-5x: var(--clb-grid-gutter-3x);
        --clb-grid-gutter-6x: var(--clb-grid-gutter-3x);
    }
}
:root {
    --clb-color-primary: #D90A2C;
    --clb-color-primary-50: rgba(217, 10, 44, 0.5);
    --clb-color-secondary: #7646DD;
    --clb-color-secondary-50: rgba(118, 70, 221, 0.5);
    --clb-color-white: white;
    --clb-color-black: #111013;
    --clb-color-black-rgb: 17, 16, 19;
    --clb-color-black-light: 
 color-mix(in srgb, var(--clb-color-black) 98%, white);
    --clb-color-black-light-dm-ignore: var(--clb-color-black-light);
    --clb-color-overlay: var(--clb-color-black);
    --clb-color-neutral: 
 color-mix(in srgb, var(--clb-color-black) 50%, white);
    --clb-color-grey: 
 color-mix(in srgb, var(--clb-color-black) 65%, white);
    --clb-color-grey-light: 
 color-mix(in srgb, var(--clb-color-black) 50%, white);
    --clb-color-success: #29A366;
    --clb-color-warning: #EC8013;
    --clb-color-danger: #D90A2C;
    --clb-selection-color: 
 color-mix(in srgb, var(--clb-color-primary) 20%, transparent);
    --clb-placeholder-color: #635d6e;
    --clb-link-color: inherit;
    --clb-link-hover-color: var(--clb-color-primary);
    --clb-border-color:  color-mix(in srgb, var(--clb-color-neutral) 16%, transparent);
    --clb-button-color: var(--clb-color-black-light);
    --clb-button-hover-color: var(--clb-color-primary);
    --clb-video-button-color: var(--clb-button-color);
    --clb-paginator-button-color: var(--clb-body-color);
    --clb-paginator-button-hover-color: var(--clb-color-primary);
    --clb-fill-color:  color-mix(in srgb, var(--clb-color-neutral) 8%, transparent);
    --clb-pattern-color:  color-mix(in srgb, var(--clb-color-neutral) 30%, transparent);
    --clb-preloader-color: var(--clb-color-white);
    --clb-preloader-spinner-color: #161519;
    --clb-body-light-mode-color: var(--clb-color-black-light);
    --clb-offer-banner-color-start: #D3FC96;
    --clb-offer-banner-color-end: #A6FDDA;
    --clb-offer-banner-color: #A6FDDA;
    --clb-dm-color-white: var(--clb-color-white);
    --clb-dm-fill-color: var(--clb-color-black);
    --clb-border-style-solid: solid;
    --clb-border-style-dashed: dashed;
    --clb-border-width: 1px;
    --clb-border-width-double: 2px;
    --clb-border-radius: 0.5rem;
    --clb-border-radius-small: calc(var(--clb-border-radius) / 2);
    --clb-border-radius-large: calc(var(--clb-border-radius) * 2);
    --clb-border-radius-extra-large: calc(var(--clb-border-radius) * 2.5);
    --clb-button-border-radius: var(--clb-border-radius);
    --clb-button-border-radius-small: calc(var(--clb-button-border-radius) / 2);
    --clb-button-border-radius-large: calc(var(--clb-button-border-radius) * 2);
    --clb-grid-border-radius: var(--clb-border-radius);
    --clb-text-field-border-radius: var(--clb-border-radius);
    --clb-icon-size: 1.4em;
Show all properties (153 more)
}
:root {
    --tutor-color-primary: #38bfc3;
    --tutor-color-primary-rgb: 56, 191, 195;
    --tutor-color-primary-hover: #663367;
    --tutor-color-primary-hover-rgb: 102, 51, 103;
    --tutor-body-color: #212327;
    --tutor-body-color-rgb: 33, 35, 39;
    --tutor-border-color: #cdcfd5;
    --tutor-border-color-rgb: 205, 207, 213;
    --tutor-color-gray: #e3e5eb;
    --tutor-color-gray-rgb: 227, 229, 235;
}
:root {
    --tutor-text-size: 16px;
    --tutor-color-white: #fff;
    --tutor-color-success: #24a148;
    --tutor-color-success-rgb: 36, 161, 72;
    --tutor-color-warning: #ed9700;
    --tutor-color-warning-rgb: 237, 151, 0;
    --tutor-color-danger: #f44337;
    --tutor-color-danger-rgb: 244, 67, 55;
    --tutor-color-secondary: #41454f;
    --tutor-color-subdued: #5b616f;
    --tutor-color-hints: #767c8e;
    --tutor-color-muted: #757c8e;
    --tutor-color-gray: #e3e5eb;
    --tutor-color-gray-10: #eff1f6;
}
:root {
    --tutor-text-size: 16px;
    --tutor-color-white: #fff;
    --tutor-color-success: #24a148;
    --tutor-color-success-rgb: 36, 161, 72;
    --tutor-color-warning: #ed9700;
    --tutor-color-warning-rgb: 237, 151, 0;
    --tutor-color-danger: #f44337;
    --tutor-color-danger-rgb: 244, 67, 55;
    --tutor-color-secondary: #41454f;
    --tutor-color-subdued: #5b616f;
    --tutor-color-hints: #767c8e;
    --tutor-color-muted: #757c8e;
    --tutor-color-gray: #e3e5eb;
    --tutor-color-gray-10: #eff1f6;
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4 / 3;
    --wp--preset--aspect-ratio--3-4: 3 / 4;
    --wp--preset--aspect-ratio--3-2: 3 / 2;
    --wp--preset--aspect-ratio--2-3: 2 / 3;
    --wp--preset--aspect-ratio--16-9: 16 / 9;
    --wp--preset--aspect-ratio--9-16: 9 / 16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--brand-color: #38bfc3;
    --wp--preset--color--beige-dark: #A1824F;
    --wp--preset--color--dark-strong: #24262B;
    --wp--preset--color--dark-light: #32353C;
    --wp--preset--color--grey-strong: #838998;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 14px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 17px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--font-size--extra-small: 13px;
    --wp--preset--font-size--normal: 15px;
    --wp--preset--font-size--larger: 20px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
Show all properties (5 more)
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body *::-webkit-scrollbar {
    width: var(--clb-spacer-05);
    height: var(--clb-spacer-05);
    background:  color-mix(in srgb, var(--clb-color-black) 10%, transparent);
    border-radius: var(--clb-border-radius);
}
body *::-webkit-scrollbar-thumb {
    background:  color-mix(in srgb, var(--clb-color-black) 20%, transparent);
    border-radius: var(--clb-border-radius);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}

::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}
::selection {
    background-color: var(--clb-selection-color);
}